*{
    margin: 0;
    padding: 0;

}
body{
    background: linear-gradient(rgb(245, 168, 181),rgb(101, 229, 246));
    width: 100vw;
    height: 100vh;
}
.Calc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 40%;
}
form{
    width: 15rem;
    height: 15rem;
    padding: 5%;
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: linear-gradient(rgb(245, 168, 181),rgb(101, 229, 246));
    border-radius: 5rem;
    opacity: .8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
button{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin-top: 8%;
    
}
input{
    border-radius: 1rem;
    height: 1.5rem;
    padding: 2%;

}
@media screen and (max-width:320px){
    form{
        width: 20rem;
        height: 20rem;
        padding: 3%;
        border-radius: 3rem;

       
    
    }  
}