body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
 }
 
 #wrapper div,#wrapper h2{
     display:flex;
     justify-content: center;
     text-transform: capitalize;
     color: yellow;
   
     
 }
 
 h2{
     color:#ffeba7;
     letter-spacing: 1px;
 }
 input{
     border-radius: 5px;
     border: 2px solid black ;
     margin-top:30px;
     height:2em;
     width:250px;
     padding-left:10px;
 }
 
 input:active{
     border:none;
 }
 #wrapper{
     height:300px;
     width:400px;
     margin:130px auto;
     background-color:rgba(217, 208, 208,.5);
     border-radius:10px;
     padding:30px;
 
 }
 
 button{
     margin-top:80px;
     background-color:#ffeba7;
     border-radius: 4px;
     height: 44px;
     font-weight: 600;
     padding: 0 30px;
     letter-spacing: 1px;
     border: none;
     color: #102770;
 }
 
 button:hover{
     cursor:pointer;
     background-color: aqua;
 }
 #result{
     color:white;
     margin-top:20px;
  
     
 }
 
 