body{
    margin: 0px;
    padding: 0px;
    background-color: #d5d8dc;
   
}
table{
    width: 1000px;
    height: 100vh;
}
.ash{
    background-color: rgb(78, 78, 115);
    width: 400px;
}
.white{
    background-color: #fdfefe;
    width: 500px;
}
img{
    width: 200px;
    height: 175px;
    border-radius: 50%;
    position: relative;
    left: 25%;
}
.name{
font-size: 30px;
font-weight: bold;
color: white;
margin-left: 1%;
}
h2{
    background-color: rgba(232, 232, 83, 0.72);
    margin-left: 1%;
}
.objective{
    font-size: 25px;
}
.white li{
    list-style: inside;
}