body{
    background: linear-gradient(to right,orange,green);
}
.red{
    background-color: orange;
    width: 400px;
    height: 100px;
}
.white{
    background-color: white;
    width: 400px;
    height: 100px;
    
}
.green{
    background-color: green;
    width: 400px;
    height: 100px;

}
.block{
margin: 250px 250px 250px 400px;
}
img{
    margin-left: 35%;
}



  