 /* .container p{
    width: 30%;
    float: left;
}
.container{
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.para1{
    background-color: brown;
    flex: 1;
    order: 2;
}
.para2{
    background-color: grey;
    flex: 2 ;
    order: 1;
}
.para3{
    background-color: red;
    flex: 3;
    order: 3;
} 
.container1{
    background-color: rgb(243, 153, 36);
    display: flex;
    height: 100vh;
    min-height: 500px;
    justify-content: center; 
    justify-content: flex-end;
    justify-content: flex-start;
    align-items: flex-end;
    justify-content: space-around;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
     flex-wrap: wrap; 

}
 .box{
    width: 150px;
    height: 250px;
    background-color: magenta;
    border: 3px solid black;
    align-items: center;
     flex-grow: 1; 
    flex-shrink: 1;

}  */
/* body{
    background-color: bisque;
}
.container{
display: grid;
grid-template-columns: 150px 200px auto 1fr 1fr;
grid-template-columns: repeat(autofit,minmax(200px,1fr));
grid-template-rows: repeat(autofit,minmax(200px,2fr));
column-gap: 15px;
row-gap: 15px;
    gap: 15px;
}
.para{
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
} */
.container2{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 20px;
    grid-template-rows: repeat(3,1fr);
    /* grid-auto-flow: column; */
    align-items: start;

}
.box{
    background-color: chartreuse;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
/* .box1{
    grid-column: span 2;
    
}
.box2{
    grid-row: span 4;
} */