*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50vh;
    background: linear-gradient(to right,red,pink);    
}
form{
    width: 30rem;
    height: 28rem;
    margin-top: 10%;
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 10px 35px 0 rgba(31,38,135.37);
    border-radius: 30px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
}
form:before{
    content: '';
    position: absolute;
    bottom: 10%;
    right: 25%;
    width: 180px;
    height: 180px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
}

form:after{
    content: '';
    position: absolute;
    bottom: -50%;
    left: 25%;
    width: 120px;
    height: 120px;
    background: magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.8;
}
h1{
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    letter-spacing: 3px;
    margin-top: 6%;
    opacity: 0.7;
}
label{
    font-size: 20px;
    color: white;
    margin: 20px;
    opacity: 0.8;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);

}
input{
    width: 80%;
    margin-left: 35px;
    margin-bottom: 8%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}
button{
    width: 50%;
    margin: 3% auto;
    color: white;
    opacity: .7;
    background: rgba(255,255,255,0.06);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(255,255,255,0.2);
    box-shadow: 3px 3px 5px rgba(31,38,135,.40);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);   
}
a{
    font-size: 12px;
    text-align: center;
    opacity: 0.7;
    margin-top: 5%;
}