body{
    background-color: grey;
background-image: ;}
p{
    background-color: white;
    border: 5px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    text-decoration: underline;
    line-height: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-stretch: expanded;
    text-indent: 100px;
    text-shadow: 2px 2px 2px;
}
h1{
border: 5px solid;
border-color: chartreuse;
border-radius: 20px 20px 20px 20px;
border-style: solid;
}
a{
    text-decoration: none;
}
a:link{
    color: brown;
}
a:visited{
    color: green;
}
a:hover{
    color: red;
    font-size: 15px;
}
a:focus{
color: violet;    
}
a:active{
    color: black;
}
#waste{
    border: 13px solid black;
    width: 300px;
    height: 200px;
    overflow: auto;
    overflow: scroll;
    margin: 20px;
    padding: 15px;
}
li{
    /*display: inline;*/
    margin: 10px;
    list-style: none;
    list-style-position: inside;
    list-style: outside ;
}
#fitness{
    /*visibility: hidden;*/
    /*display: none;*/
}