.p1{
    background-color: blue;
}
.p2{
    background-color: aquamarine;
}
.p3{
    background-color: aqua;
}
@media (min-width:801px){
.col p{
   width: 30%;
   float: left;
   padding: 10px;
}
.p1{
    background-color: brown;
}
}