p{
color: red;
text-shadow: 4px 2px 5px red;

}
th{
    background-color:green;
    color: greenyellow;
}
td{
    background-color: green;
    color:greenyellow ;
}
*{
    font-style: italic;
    font-family: monospace;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    font-stretch: expanded;

}